# Compiled python bytecode
*.pyc
__pycache__/*

# JavaScript dependencies installed via npm install
node_modules/*

# Instance-specific configuration (including secret keys etc.)
instance/*

# Local sqlite3 database file used for testing
test.db
